<h1><%= current_user.name %>'s Tasks</h1>

<p id="errors"></p>

<h4>Add a task</h4>
<%= form_for @task do |f| %>
  <%= f.label :content, "New Task:", required: true %>
  <%= f.text_field :content %>
  <%= f.submit %>
<% end %>


<ul id="task-list">
  <%= render @tasks %>
</ul>


